Pro Silverlight 2 in VB/Chapter13/WebServiceTest/SilverlightApplication/Service References/ServiceReference1/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:3003/SilverlightApplication.Web/TestService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:3003/SilverlightApplication.Web/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestService_GetServerTime_InputMessage">
    <wsdl:part name="parameters" element="GetServerTime" />
  </wsdl:message>
  <wsdl:message name="TestService_GetServerTime_OutputMessage">
    <wsdl:part name="parameters" element="GetServerTimeResponse" />
  </wsdl:message>
  <wsdl:message name="TestService_GetCachedServerTime_InputMessage">
    <wsdl:part name="parameters" element="GetCachedServerTime" />
  </wsdl:message>
  <wsdl:message name="TestService_GetCachedServerTime_OutputMessage">
    <wsdl:part name="parameters" element="GetCachedServerTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="GetServerTime">
      <wsdl:input wsaw:Action="urn:TestService/GetServerTime" message="TestService_GetServerTime_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestService/GetServerTimeResponse" message="TestService_GetServerTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCachedServerTime">
      <wsdl:input wsaw:Action="urn:TestService/GetCachedServerTime" message="TestService_GetCachedServerTime_InputMessage" />
      <wsdl:output wsaw:Action="urn:TestService/GetCachedServerTimeResponse" message="TestService_GetCachedServerTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>